@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 20px;
  color: whitesmoke;
  background-color: #1A202C;
}

body {
  font-family: "Exo", sans-serif;
}

button {
  padding: 8px;
}

.myclass {
  border: 2px solid yellow;
  border-radius: 8px;
  background-color: #101023;
  padding: 10px;
  margin: 10px;
}

.myclass2 {
  text-align: center;
}

.box {
  /* width: 200px; */
  /* height: 200px; */
  background-color: #101021;
  border: 2px solid #81E6D9;
  color: #ececee;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


@media screen and (max-width: 780px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.blog-img img {
  width: 100%;
  border-radius: 10px;
}